<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="7.6.0" targetFramework="net461" />
  <package id="ServiceStack" version="5.1.0" targetFramework="net461" />
  <package id="ServiceStack.Client" version="5.1.0" targetFramework="net461" />
  <package id="ServiceStack.Common" version="5.1.0" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="5.1.0" targetFramework="net461" />
  <package id="ServiceStack.OrmLite" version="5.1.0" targetFramework="net461" />
  <package id="ServiceStack.Redis" version="5.1.0" targetFramework="net461" />
  <package id="ServiceStack.Server" version="5.1.0" targetFramework="net461" />
  <package id="ServiceStack.Text" version="5.1.0" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net461" />
</packages>